html, body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;

}

$black: black;
$red: #bc111d;
$white: white;
$grey: #F8F8F8;

@mixin flex($flex-drection: row){
    display: flex;
    flex-direction: $flex-drection;
    justify-content: space-between
}

.header{

}

.search{
    @include flex();

    &__item{
        width: 80%;
        text-align: center;
        @include flex();

        p{
            color: $black;
            span{
                color: $red;
            }
        }

        label{
            margin: 5px;
            input{
                height: 40px;
                width: 150px;
                background-color: $white;
            }

            button{
                background-color: $white;
            }
        }
    }

}

section{
    @include flex(column);

    h2{
        margin: 10px auto;
    }

    .items{
        @include flex();

        .item{
            height: auto;
            width: 300px;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 10px 12px #00000029;

            &__top{
                height: 250px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                .info{
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    height: 80px;
                    width: auto;
                    background-color: $red;
                    color: $white;
                }

                .bar{
                    margin: auto 0 0 0;
                    height: 90px;
                    width: 100%;
                    text-align: left;

                    p{
                        color: $white;
                    }
                }
            }

            &__bottom{
                display: block;
                text-align: center;

                h3{
                    color: $red;
                }

                .description{
                    margin: 30px auto;
                    color: $grey;
                    width: 80%;
                }

                ul{
                    width: 80%;
                    margin: auto;

                    li{
                        color: $black;
                    }
                }

                .price{
                    font-weight: 2em;
                    color: $red;
                }
            }
        }
    }
}