html, body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;

}

$black: black;
$red: #bc111d;
$white: white;
$grey: #F8F8F8;

@mixin flex($flex-drection: row){
    display: flex;
    flex-direction: $flex-drection;
    justify-content: space-between
}


h2{
    font-size: 1.9em;
    text-align: center;
}

li{
    list-style: none;
    text-align: center;
}

button{
    cursor: pointer;
}

.header{

}

.search{
    @include flex();
    height: 110px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    background-color: $red;

    &__content{
        width: 100%;
        margin: auto;
        @include flex();
        &__item{
            text-align: center;
            @include flex();
            margin: auto;

            p{
                color: $white;
                span{
                    font-weight: 300;
                }
            }

            label{
                margin: 5px;
                color: $white;
                input{
                    height: 30px;
                    width: 120px;
                    background-color: $white;
                }

                button{
                    background-color: $black;
                    color: $white;
                    font-weight: bold;
                    height:37px ;
                    border-radius: 2px;
                    border: 2px solid $white;
                    width: 120px;
                }

                button:hover{
                    background-color: $red;
                    color: $white;

                }
            }
        }
    }

}


section{
    @include flex(column);
    margin: 15px auto;

    h2{
        margin: 10px auto;

        span{
            font-size: 0.7em;
            font-weight: normal;
        }
    }

    .items{
        @include flex();
        width: 85%;
        margin: auto;
        height: 10px auto;

        .item{
            height: auto;
            margin: auto;
            width: 350px;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 10px 12px #00000029;

            &__top{
                height: 230px;
                width: 100%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }

                .info{
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    height: 25px;
                    width: auto;
                    background-color: $red;
                    color: $white;
                    padding-top: 5px;
                    font-weight: bold;
                    width: 100px;
                    text-align: center;
                }

                .bar{
                    margin: auto 0 0 0;
                    height: 90px;
                    width: 100%;
                    text-align: left;

                    p{
                        color: $white;
                    }
                }
            }

            &__bottom{
                display: block;
                height: 250px;
                text-align: center;
                width: 100%;

                h3{
                    color: $red;
                }

                .description{
                    margin: 30px auto;
                    color: black;
                    width: 90%;
                }

               .list{
                @include flex();
                width: 90%;
                margin: auto;

                &__item{
                    margin: 5px;

                    span{
                        font-weight: bold;
                    }
                }
               }

                .price{
                    font-size: 1.4em;
                    font-weight: 700;
                    color: $red;
                }
            }
        }
    }

    .cards{
        width: 80%;
        @include flex();
        margin: auto;

        .card{
            display: block;
            text-align: center;
            flex: 1;

           i{
            font-size: 2em;
            color: $red;
           }

            p{
                font-weight: 500;
                font-size: 1.1em;
            }

            .text{
                color: rgb(32, 29, 29);
                font-weight: normal;
                font-size: 1em;
            }


        }
    }

}

.grey{
    background-color: $grey;
    height: 400px;
    margin: 60px auto;
    padding-top: 20px;
}

.black{
    height: 200px;
    background-color: $black;
    width: 100%;
    display: table;
    margin: 20px auto 60px auto;


    &__content{
        width: 60%;
        background-color: $black;
        display: table-cell;
        margin: 80px auto;
        vertical-align: middle;
        @include flex();

        p{
            color: $white;
        }

        button{
           background-color: $black;
           border: 2px solid $white;
           color: $white;
           width: 200px;
           font-weight: bold;
           font-size: 1.2em;

        }

        button:hover{
            background-color: $white;
            color: $black;

        }



    }

}

.testimonies{
    background-color: $grey;
    height: 350px;
    display: block;

    &__content{
        width: 80%;
        text-align: center;
    }
}

.car{
    width: 100%;
    margin: auto;
    display: block;

    &__top{
        @include flex();
        width: 90%;
        margin: auto;
        text-align: center;

        .right{
            display: block;

            h2{
                color: $red;
                margin: auto auto 0 auto;
            }

            p{
                margin: 0 auto;
                span{
                    color: $black;
                    font-size: 1em;
                }
            }
        }
    }

    .image{
        text-align: center;
        margin: 20px auto;
        img{
            width: 700px;
            height: 350px;
            margin: auto;
        }
    }

    &__infos{
        width: 90%;
        margin: auto;
        @include flex();

        .left{
            width: 60%;

            .details{
                ul{
                    li{
                        text-align: left;
                    }
                }
            }
        }

        .right{
            width: 30%;

            .card{
                display: block;

                &__top{
                    img{
                        width: 100px;
                        height: 100px;
                    }

                    &__infos{

                    }
                }

                &__bottom{
                    @include flex(column);
                    text-align: left;
                    label{
                        margin: 10px auto auto 0;

                        input{
                            height: 30px;

                        }

                        button{
                            width: 120px;
                            height: 35px;
                            font-weight: bold;
                            background-color: $red;
                            color: $white;
                        }

                        button:hover{
                            background-color: $white;
                            color: $red;
                        }

                    }


                }
            }
        }
    }


}

.footer{
    height: auto;
    background-color: $black;
    display: block;
    margin: 80px auto 0 auto;
    padding-top: 10px;

    &__top{
        @include flex();
        width: 95%;
        margin: auto;


        .box{
            flex: 1;
            display: block;
            text-align: left;
            color: $white;

            h4{
                color: $red;

                font-size: 1.3em;
                font-weight: bold;
            }

            p{
                margin: 2px auto auto 0;
                text-align: left;
            }
        }
    }

    hr{
        margin: 40px auto;
    }

    &__bottom{
        color: $white;
        @include flex();
        width: 95%;
        margin: auto;
    }

}

/*responsive for 1024px*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    section{
        .items{
            width: 98%;

            .item{
                width: 320px;

                &__top{

                }
            }
        }

        .cards{
            width: 98%;
        }
    }
}

/*responsive for 767x*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
   .search{
    &__content{
        &__item{

        }
    }
   }

    section{
        .items{
            width: 98%;

            .item{
                width: 230px;

                &__top{
                    img{
                        height: 80%;
                    }
                }

                &__bottom{
                    height: 250px;

                    h3{
                        margin: -20px auto;
                    }
                }
            }
        }

        .cards{
            width: 98%;
        }
    }
}


/*responsive for 350px*/
@media screen and (min-width: 350px) and (max-width: 766px){

   h2{
    font-size: 1.5em;
   }
    .search{
        height: auto;
        @include flex(column);

        &__content{
            @include flex(column);

            &__item{
                @include flex(column);
            }
        }
    }

    section{
        .items{
            @include flex(column);
            width: 90%;
            margin: auto;

            .item{
                width: 340px;
                margin: auto;


                &__top{
                    margin: auto;

                    img{
                        margin: auto;
                    }
                }
            }

        }
    }
}